html {
  font-size:18px;
}
.container {
  max-width: 960px;
  margin: 0px auto;
}
body {
  font-family: Helvetica;
}
div {
  display: block;
}
/* Header */
.company {
  background-color: black;
  color: white;
}
.company .container {
  display: flex;
  align-items: center;
  padding: 0.66rem 0px 0.66rem 0.5rem;
}
.company img {
  height: 1.5rem;
  padding-right: 0.8333rem;
}
/* Banner */
.main-banner {
  height: 25rem;
  background: url(../images/banner.jpeg) center center / cover no-repeat;
  background-repeat: no-repeat;
  background-position: center center;
}
.headline {
  background-color: black;
  color: white;
  width: 20em;
  position: relative;
  top: 9em;
  padding: 2em 3em;
}
.headline h1 {
  font-size: 2em;
  line-height: 1.2em;
  margin: 0.25em 0px;
}
h1, h4 {
  font-weight: bold;
}
/* Navigation */
nav {
  background-color: firebrick;
  color: white;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem;
}
.mobile-nav {
  display: none;
}
/* Products and Contact */
.products, .business-info {
  display: flex;
  justify-content: space-between;
  margin: 3em 0px 0px;
}
.product-image {
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 4px;
  border-style: solid;
  border-color: black;
  border-image: initial;
  padding: 2em 0px;
}
.product-image img {
  max-width: 8rem;
}
.product {
  width: 30%;
}
img {
  border-style: none;
}
.description {
  display: block;
  background-color: black;
  color: white;
  text-align; center;
  padding:0.5rem;
}
.info {
  width: 35%;
}
.info .title {
  display: block;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}
/* Footer */
footer {
  background-color: black;
  color: white;
  margin-top: 4rem;
  padding: 5em 0px;
}
ul {
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}
/* Media Query For Tablets*/
@media only screen and (max-width:1024px) {
  body {
    font-size: 16px;
  }
}
@media only screen and (max-width:1024px) {
  .mobile-nav {
    display: block;
    text-align: center;
  }
}
@media only screen and (max-width:1024px) {
  nav ul {
    display: none;
  }
}
@media only screen and (max-width:1024px) {
  .product {
    width: 47%;
 }
 .glasses {
   display: none;
 }
}
